
.table {
  width: 100%;
  min-width: 700px; 
}

.table-headings {
  padding: 0 20px;
  width: auto;
  border-bottom: 2px solid black;
}

.table-contents {
  

  > th {
    font-weight: normal;
    padding: 4px 0;
   }
}